# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#stuff I'm not sure is a good idea:
barbarian-parse.py
__pycache*
*.log
*.csv
*.html
*.pdf
*.csv
*.xlsx
*.tsv
*.png
20170128_Rscratch_for_maxquant.txt
codon_puller.py
codon_puller_MSstats.py
DEseq_cleaner2.py
inventory.txt
sessionInfo.txt
for_getting_peptides_proteins_with_fthr.py
ID_mapper.py
fthr_msstats_cache/
msms.txt
msms.zip
number_of_peptides_with_F_vs_total.py
number_of_proteins_with_F_vs_total.py
proteomics2DEseq.rmd
